{% extends ".\base\base_template.html" %}

{% block title %}
Aktor - informacje
{% endblock %}


{% block content %}

{% if object %}
    <div>

    </div>
<h3><a href="{%  url 'usuwanieAktora' object.id %}">Usun</a></h3>
<h3><a href="{%  url 'aktualizacjaAktora' object.id %}">Aktualizuj</a></h3>


        <div>


    <h1>{{ object.imie }}</h1>
    <h1>{{ object.nazwisko }}</h1>
    {% else %}
Brak aktora
    {% endif %}
    </div>
<div>
    {% for a in aktorzy %}

    <h1><a href="{% url 'aktor' a.id %}">{{  a.nazwsiko  }}</a></h1>


    {% endfor %}

</div>
<div>
{% endblock %}